@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//    --foreground-rgb: #eff4ff;
//    --background-start-rgb: 0, 0, 0;
//    --background-end-rgb: 0, 0, 0;
// }

// @media (prefers-color-scheme: dark) {
//    :root {
//       --foreground-rgb: black;
//       --background-start-rgb: 214, 219, 220;
//       --background-end-rgb: 255, 255, 255;
//    }
// }

@font-face {
   font-family: 'YekanBakhRegular';
   font-display: swap;
   src:
      url('/font/YekanBakhNoEn-Regular.woff2') format('woff2'),
      url('/font/YekanBakhNoEn-Regular.woff') format('woff');
}

@font-face {
   font-family: 'YekanBakhBold';
   font-display: swap;
   src:
      url('/font/YekanBakhNoEn-Bold.woff2') format('woff2'),
      url('/font/YekanBakhNoEn-Bold.woff') format('woff');
}

@font-face {
   font-family: 'Doran';
   font-display: swap;
   src:
      url('/font/DoranNoEn-ExtraBold.woff2') format('woff2'),
      url('/font/DoranNoEn-ExtraBold.woff') format('woff');
}

@font-face {
   font-family: 'BebasNeue';
   font-display: swap;
   src:
      url('/font/BebasNeue-Regular.woff2') format('woff2'),
      url('/font/BebasNeue-Regular.woff') format('woff');
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   min-height: 100vh;
   scroll-behavior: smooth;
}

body {
   color: rgb(var(--foreground-rgb));
   background: #f2f2f2;
   user-select: none;
}

a {
   text-decoration: none;
   font-size: 1rem;
   font-family: YekanBakhBold, sans-serif;
   color: black;
}

h1 {
   font-size: 2rem;
   font-family: Doran, sans-serif;
   color: black;
}

h2 {
   font-size: 2rem;
   font-weight: bold;
   font-family: Doran, sans-serif;
   color: black;
}

h3 {
   font-size: 1rem;
   font-weight: bold;
   font-family: YekanBakhBold, sans-serif;
   color: black;
}

h4 {
   font-size: 1rem;
   font-family: YekanBakhBold, sans-serif;
   color: black;
}

h5 {
   font-size: 1rem;
   letter-spacing: -1px;
   font-family: YekanBakhBold, sans-serif;
   color: black;
}

button {
   font-size: 1rem;
   letter-spacing: -1px;
   font-family: YekanBakhRegular, sans-serif;
   padding: 0.5rem 0.1rem;
   color: black;
}

p {
   font-size: 1rem;
   font-family: YekanBakhRegular, sans-serif;
   color: black;
   direction: rtl;
}

li {
   font-size: 1rem;
   font-family: YekanBakhRegular, sans-serif;
   color: black;
}

input,
textarea {
   font-family: YekanBakhRegular, sans-serif;
   background: #f2f2f2;
   color: black;

   &::placeholder {
      color: black;
   }
}

span {
   font-family: YekanBakhRegular, sans-serif;
   font-size: 0.75rem;
   color: #1b1b1b;
}

label {
   font-family: YekanBakhRegular, sans-serif;
   font-size: 1rem;
}

hr {
   border: solid 1px rgb(224, 224, 224);
   margin: 1rem 0;
}

h6 {
   font-size: 0.8rem;
   font-family: YekanBakhRegular, sans-serif;
   color: gray;
}

strong {
   font-family: YekanBakhRegular, sans-serif;
   font-weight: 600;
}

table {
   font-family: YekanBakhRegular, sans-serif;
   font-size: 0.8rem;
   color: rgb(43, 45, 83);
}


.rtl {
   direction: rtl;
}

.ltr {
   direction: ltr;
}

.yekan {
   font-family: YekanBakhRegular, sans-serif;
}

.yekanBold {
   font-family: YekanBakhBold, sans-serif;
}

.Doran {
   font-family: Doran, sans-serif;
}

.BebasNeue {
   font-family: BebasNeue, sans-serif;
}

/* Hide scrollbar for IE, Edge and Firefox */
.styled-scrollbars {
   /* Foreground, Background */
   scrollbar-color: #60a5fa transparent;

   &::-webkit-scrollbar {
      width: 3px; /* Mostly for vertical scrollbars */
      height: 3px; /* Mostly for horizontal scrollbars */
   }

   &::-webkit-scrollbar-thumb {
      /* Foreground */
      background: #60a5fa;
   }

   &::-webkit-scrollbar-track {
      /* Background */
      background: transparent;
   }
}

.toman {
   &_card {
      display: flex;

      &:before {
         content: url('/toman_card.svg');
         display: block;
         margin-right: 0.2rem;
         font-family: YekanBakhRegular, sans-serif;
      }
   }

   &_course {
      display: flex;

      &:before {
         content: url('/toman.svg');
         display: block;
         margin-right: 0.2rem;
         font-family: YekanBakhRegular, sans-serif;
      }
   }
}

.invalidInput {
   border: 2px solid red;
}

.animate-spin-slower {
   animation: spin 3s linear infinite;
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.Toastify__toast {
   border-radius: 15px !important;

   &-body {
      font-size: 1rem;
      font-family: YekanBakhRegular, sans-serif;
   }
}

.react-photo-album--photo {
   border-radius: 15px;
}

.yarl {
   &__thumbnails_thumbnail {
      border: 0 !important;
      min-width: 80px !important;
      width: auto !important;
   }
   &__thumbnails_container {
      background: rgba(0, 0, 0, 0.93) !important;
   }
   &__slide_image {
      border-radius: 5px;
   }
}
